/* Sky Gradient 1 */
.time0{
    background: linear-gradient(180deg, #020111 85%, #191621 100%);
}
/* Sky Gradient 2 */
.time1{
    background: linear-gradient(180deg, #020111 60%, #20202C 100%);
}
/* Sky Gradient 3 */
.time2{
    background: linear-gradient(180deg, #020111 10%, #3A3A52 100%);
}
/* Sky Gradient 4 */
.time3{
    background: linear-gradient(180deg, #20202C 0%, #515175 100%);
}
/* Sky Gradient 5 */
.time4{
    background: linear-gradient(180deg, #40405C 0%, #6F71AA 80%, #8A76AB 100%);
}
/* Sky Gradient 6 */
.time5{
    background: linear-gradient(180deg, #4A4969 0%, #7072AB 50%, #CD82A0 100%);
}
/* Sky Gradient 7 */
.time6{
    background: linear-gradient(180deg, #757ABF 0%, #8583BE 60%, #EAB0D1 100%);
}
/* Sky Gradient 8 */
.time7{
    background: linear-gradient(180deg, #82ADDB 0%, #EBB2B1 100%);
}
/* Sky Gradient 9 */
.time8{
    background: linear-gradient(180deg, #94C5F8 1%, #A6E6FF 70%, #B1B5EA 100%);
}
/* Sky Gradient 10 */
.time9{
    background: linear-gradient(180deg, #B7EAFF 0%, #94DFFF 100%);
}
/* Sky Gradient 11 */
.time10{
    background: linear-gradient(180deg, #9BE2FE 0%, #67D1FB 100%);
}
/* Sky Gradient 12 */
.time11{
    background: linear-gradient(180deg, #90DFFE 0%, #38A3D1 100%);
}
/* Sky Gradient 13 */
.time12{
    background: linear-gradient(180deg, #57C1EB 0%, #246FA8 100%);
}
/* Sky Gradient 14 */
.time13{
    background: linear-gradient(180deg, #2D91C2 0%, #1E528E 100%);
}
/* Sky Gradient 15 */
.time14{
    background: linear-gradient(180deg, #2473AB 0%, #1E528E 70%, #5B7983 100%);
}
/* Sky Gradient 16 */
.time15{
    background: linear-gradient(180deg, #1E528E 0%, #265889 50%, #9DA671 100%);
}
/* Sky Gradient 17 */
.time16{
    background: linear-gradient(180deg, #1E528E 0%, #728A7C 50%, #E9CE5D 100%);
}
/* Sky Gradient 18 */
.time17{
    background: linear-gradient(180deg, #154277 0%, #576E71 30%, #E1C45E 70%, #B26339 100%);
}
/* Sky Gradient 19 */
.time18{
    background: linear-gradient(180deg, #163C52 0%, #4F4F47 30%, #C5752D 60%, #B7490F 80%, #2F1107 100%);
}
/* Sky Gradient 20 */
.time19{
    background: linear-gradient(180deg, #071B26 0%, #071B26 30%, #8A3B12 80%, #240E03 100%);
}
/* Sky Gradient 21 */
.time20{
    background: linear-gradient(180deg, #010A10 30%, #59230B 80%, #2F1107 100%);
}
/* Sky Gradient 22 */
.time21{
    background: linear-gradient(180deg, #090401 50%, #4B1D06 100%);
}
/* Sky Gradient 23 */
.time22{
    background: linear-gradient(180deg, #00000C 80%, #150800 100%);
}
/* Sky Gradient 24 */
.time23{
    background: #020111;
}